[Unit]
Description=Stratum scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__WORKDIR__
ExecStart=/bin/bash __WORKDIR__/scripts/run-service.sh
Restart=always
RestartSec=10
RestartPreventExitStatus=3

[Install]
WantedBy=multi-user.target
